.swiper{
   &-pagination-bullet {
   background-color: #363838;
   opacity: 1;
   }
   &-pagination-bullet-active {
   background-color: #FFEF35;
   }
   &-button-prev::after{
      content: url(../images/icons/back-arrow.svg);
   }
   &-button-next::after{
      content: url(../images/icons/next-arrow.svg);
   }
   &-slide{
      user-select: none;
   }
}
