
@media (max-width: 1920px) { 
}
@media (max-width: 1536px) { 

}
@media (max-width: 1366px) { 
   .header{
      &__inner{
         height: 110px;
      }
   }
   .top{
      &__slide-title{
         font-size: 80px;
      }
      &__slide-hr{
         width: 140px;
      }
      &__slide-content{
         padding-right: 15px;
         height: 300px;
         max-width: 480px;
      }
   }
   .collection{
      &__info-text{
         font-size: 12px;
      }
   }


}
@media (max-width: 1140px) {
   .blog-page{
      margin-top: 55px;
      &__inner{
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
      }
      &__items{
         margin: 0 auto;
      }
   }
   .aside{
      width: 729px;
      margin: 0 auto;
      position: relative;
      margin-top: 50px;
      order: -1;
      flex-direction: row;
      height: 400px;  
      gap: 10px;
      &__form{
         position: absolute;
         margin-top: -60px;
      }   
      &__categories{
         flex: 1 0 auto;
      }
      &__recent{
         flex: 1 1 auto;
      }
      &__tags{
         flex: 0 1 auto;
      }
      &__social-item{
         margin-right: 0;
      }
 
      &__social{
         flex: 0 0 auto;
         width: 30px;
         height: 200px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-direction: column;
      }
   }
}

@media (max-width: 1024px) {  
   .main{
      &_home{
         margin-bottom: 85px;
      }
      &_gallery{
         margin-bottom: 130px;
      }
      &_about{
         margin-bottom: 60px;
      }
      &_contact{
         margin-bottom: 115px;
      }   
   }   
   .header{
      &__inner{
         height: 100px;
      }
   }
   .top{
      &__slide-title{
         font-size: 60px;
      }
      &__slide-hr{
         width: 100px;
      }
      &__slide-content{
         padding-right: 15px;
         height: 270px;
         max-width: 380px;
      }
      &__slide-text{
         font-size: 16px;
      }
   }
   .collection{
      margin-top: 17px;
      grid-template-columns: repeat(4, 1fr);
      &__item:nth-child(5){
         display: none;
      }
   }
   .new-collection{
      margin-top: 75px;
      &__title{
         font-size: 28px;
         line-height: 42px;
      }
      &__hr{
         margin-top: 17px;
         width: 222px;
      }
      &__text{
         margin-top: 17px;
         width: 70%;
      }
   }  
   .drinking{
      &__container{
         padding-top: 142px;
         padding-bottom: 126px
      }
      &__info{
         height: 258px;
      }
      &__title{
         font-size: 45px;
         line-height: 65px;
      }
      &__hr{
         width: 180px;
      }
      &__text{
         width: 500px;
      }
   }
   .howItWorks{
      &__title{
         font-size: 28px;
         line-height: 42px;      
      }
   }
   .gallery{
      &__items{
         row-gap: 20px;
         column-gap: 22px;
      }
      &__buttons-item{
         padding: 4px 12px 4px 12px;
         height: 36px;
      }
   }
   .blockIdeas{
      margin-top: 80px;
      &__title{
         font-size: 28px;
         line-height: 42px;
      }
      &__item:first-child{
         margin-right: 0px;
      }   
      &__item:last-child{
         display: none;
      }

      &__item-title{
         font-size: 20px;
         line-height: 32px;
      }
   }
   .about{
      &__prev{
         height: 380px;
      }
      &__prev-title{
         font-size: 50px;
         line-height: 70px;
      }
   }   
   .about-text{
      margin-top: 110px;
      &__title{
         font-size: 28px;
         line-height: 42px;
         width: 90%;
      }
      &__hr{
         width: 180px;
         margin-top: 16px;
         margin-bottom: 16px;
      }
      &__text:nth-child(1){
         margin-bottom: 30px;
      }
   }
   .popup-video{
      margin-top: 80px;
      height: 320px;
   }   
   .inspiration{
      margin-top: 90px;
      height: 400px;
      background-size: 100% 75%;
      &__img{
         margin-right: 20px;
         height: auto;
      }
      &__content{
         padding-bottom: 75px;
      }
      .about-text__title{
         width: 100%;
      }
      &__about-text{
         margin-top: 0;
      }
   }
   .inspiration-charts{
      height: 260px;
      &__text-box{
         padding-bottom: 14px;
      }
   }
   .partners{
      &__item-box{
         display: grid;
         grid-template-columns: repeat(4, 1fr);  
      }
      &__item:nth-child(5){
         display: none;
      }
   }   
   .map{
      height: 470px;
   }
   .contact-collection{
      margin-top: 80px;
      &__collection.collection{
         grid-template-columns: repeat(8, 1fr);
         grid-column-gap: 12px;   
      }
      .collection__item:nth-child(9){
         display: none;
      }
      .collection__info{
         height: 100%;
      }
      .collection__info-title{
         font-size: 14px;
         text-align: center;
      }
   }   
   .footer{
      &__info{
         width: 380px;
      }
      &__info-text{
         width: 380px;
      }
      &__form-input{
         width: 205px;
      }
      &__menu{
         margin-right: 30px;
      }
      &__menu-list{
         margin-right: 0px;
      }
   }
}
@media (max-width: 768px) { 
   .main{
      &_home{
         margin-bottom: 70px;
      }
      &_gallery{
         margin-bottom: 90px;
      }
      &_about{
         margin-bottom: 50px;
      }
      &_contact{
         margin-bottom: 85px;
      }   
   }   
   .header{
      &__inner{
         height: 90px;
      }
      &__btn{
         display: none;
      }
   } 
   .rightSide-menu{
      display: none;
   }
   .menu{
   &__list-item{
      padding-left: 0;
      & + .menu__list-item{
         padding-right: 0;
      }
   }
   }
   .logo{
      margin: 0;
   }
   .top{
      &__slide-title{
         font-size: 50px;
      }
      &__slide-hr{
         width: 85px;
         margin-left: 0;
      }
      &__slide-content{
         height: 220px;
         max-width: 300px;
         padding-left: 15px;
      }
      &__slide-text{
         font-size: 13px;
         line-height: 23px;
   }
   } 
   .new-collection{
      margin-top: 75px;
      &__title{
         font-size: 24px;
         line-height: 38px;
      }
      &__hr{
         margin-top: 12px;
         width: 150px;
      }
      &__text{
         font-size: 13px;
         line-height: 23px;
         margin-top: 12px;
         width: 80%;
      }
   }  
   .collection{
      grid-column-gap: 20px;
      margin-top: 12px;
      grid-template-columns: repeat(3, 1fr);
      &__item:nth-child(4){
         display: none;
      }
   }
   .drinking{
      margin-top: 85px;
      &__container{
         padding-top: 102px;
         padding-bottom: 86px
      }
      &__info{
         height: 228px;
      }
      &__title{
         font-size: 35px;
         line-height: 55px;
      }
      &__hr{
         width: 150px;
      }
      &__text{
         font-size: 13px;
         line-height: 23px;
         width: 460px;
      }
   }
   .howItWorks{
      margin-top: 70px;
      &__title{
         font-size: 24px;
         line-height: 38px;      
      }
      &__content{
         height: 310px;
      }
      &__item_2{
         margin-left: 17%;
      }
      &__item_3{
         margin-left: 30%;
      }
      &__item-title{
         font-size: 13px;
         padding-left: 45px;
      }
      &__item-text{
         font-size: 13px;
         line-height: 23px;
         margin-top: 10px;
      }
      &__item-text_1{
         width: 200px;
      }
      &__item-text_2{
         width: 200px;
      }
      &__item-text_3{
         width: 200px;
      }
   }
   .gallery{
      margin-top: 55px;
      &__items{
         row-gap: 16px;
         column-gap: 18px;
      }
      &__buttons{
         margin-bottom: 30px;
      }
      &__buttons-item{
         font-size: 13px;
         line-height: 23px;
         height: 31px;
      }
      &__indent{
         height: 20px;
      }
   
   }
   .blockIdeas{
      margin-top: 70px;
      &__title{
         font-size: 24px;
         line-height: 38px;
      }
      &__item{
         height: 400px;
      }   
      &__item-title{
         font-size: 18px;
         line-height: 28px;
      }
      &__links{
         font-size: 12px;
         line-height: 24px;
      }
      &__date{
         font-size: 12px;
         line-height: 24px;
      }
      &__author{
         font-size: 12px;
         line-height: 24px;
      }
      &__theme{
         font-size: 12px;
         line-height: 24px;
      }
   }
   .about{
      &__prev{
         height: 300px;
      }
      &__prev-title{
         font-size: 35px;
         line-height: 55px;
      }
   }   
   .about-text{
      margin-top: 90px;
      &__title{
         font-size: 24px;
         line-height: 38px;
         width: 100%;
         text-align: left;
      }
      &__hr{
         width: 160px;
         margin-top: 13px;
         margin-bottom: 13px;
      }
      &__text{
         font-size: 13px;
         line-height: 23px;
      }

      &__text:nth-child(1){
         margin-bottom: 20px;
      }
   }
   .popup-video{
      margin-top: 65px;
      height: 240px;
      &__button-img{
         height: 60px;
         width: 60px;
      }
   }   
   .inspiration{
      margin-top: 80px;
      height: 380px;
      background-size: 100% 75%;
      &__img{
         display: none;
      }
      &__content{
         padding-bottom: 55px;
      }
      &__about-text{
         margin-top: 0;
      }
   }
   .inspiration-charts{
      &__text-box{
         padding-bottom: 10px;
      }
      &__text{
         font-size: 13px;
         line-height: 16px;
      }
   }
   .partners{
      &__item-box{
         grid-column-gap: 20px;
         display: grid;
         grid-template-columns: repeat(3, 1fr);  
      }
      &__item:nth-child(4){
         display: none;
      }
   }   
   .map{
      height: 370px;
   }
   .contact{
      margin-top: 45px;
      &__text-box{
         width: 100%;
         margin-left: 0;
      }
      &__address{
         font-size: 13px;
         line-height: 23px;
      }   
      &__form-item:first-child{
         margin-right: 3px;
      }
      &__form-item{
         font-size: 13px;
         padding-left: 14px;
         height: 30px;
      }
      &__name{
         width: 49%;
         border-radius: 20px;
      }
      &__email{
         width: 49%;
         border-radius: 20px;
      }
      &__textarea{
         margin-top: 13px;
         width: 100%;
         border-radius: 24px;
         height: 105px;
      }   
   }
   .contact-collection{
      margin-top: 60px;
      &__collection.collection{
         grid-template-columns: repeat(6, 1fr);
         grid-column-gap: 10px;   
      }
      .collection__item:nth-child(8){
         display: none;
      }
   }   
   .blog-page{
      margin-top: 35px;
      &__inner{
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
      }
      &__items{
         margin: 0 auto;
      }
   }
   .blog{
      max-width: 610px;
      &__caption{
         font-size: 12px;
         a {
            font-size: 12px;
            line-height: 24px;
         }
      } 
      &__title{
         font-size: 18px;
         line-height: 28px;
      }
      &__text{
         font-size: 13px;
         line-height: 23px;
      }
      &__popup{
         height: 347px;
      }
      &__play-img{
         height: 40px;
         width: 40px;
      }

      &-1{
         height: 580px;
      }
      &-2{
         margin-top: 40px;
         height: 415px;
      }
      &-3{
         height: 537px;
         margin-top: 67px;
      }
   }
   .quote{
      margin-top: 90px;
      height: 223px;
      &__text{
      font-size: 22px;
      line-height: 33px;
      width: 480px;
      }
      &__hr{
         width: 180px;
         margin-top: 18px;
         margin-bottom: 18px;
      }
      &__athor{
         font-size: 13px;
         line-height: 18px;
      }
   }   
   .aside{
      margin-top: 50px;
      flex-direction: row;
      height: 350px;  
      gap: 10px;
      &__form{
         position: absolute;
         margin-top: -60px;
      }   
      &__categories{
         flex: 1 0 auto;
      }
      &__recent{
         flex: 0 1 auto;
      }
      &__tags{
         flex: 0 1 auto;

      } 
      &__titles{
         font-size: 13px;
         line-height: 18px;

      }
      &__categories-link{
         font-size: 13px;
         line-height: 23px;
      }
      &__categories-item{
         margin-top: 8px;
      }
      &__tags-btn{
         border-radius: 12px;
         opacity: .5;
         height: 24px;
         font-size: 12px;
         margin-top: 8px;
         color: #363838;
         font-weight: 600;
         padding: 0px 13px 0px 13px;
         line-height: 24px;
         margin-right: 3px;
      }
      &__social{
         display: none;
      }
   }
   .pagination{
      margin-top: 40px;
   }   
   .recent-posts{
      &__item{
         margin-top: 8px;
      }
      &__title{
         font-size: 13px;
         line-height: 23px;
      }
      &__caption{
         color: #A1A1A1;
         font-size: 12px;
         line-height: 24px;
      }
   
   }      
   .footer{
      &__inner{
         flex-direction: column;
         align-items: center;
         height: 300px;
      }
      &__info{
         width: 100%;
         align-items: center;
         gap: 10px;
      }
      &__info-text{
         width: 70%;
         text-align: center;
         font-size: 13px;
         line-height: 23px;
      }
      &__content{
         padding-bottom: 0;
         padding-top: 30px;
      }
      &__social{
         flex-wrap: wrap;
         width: 90%;
         flex-direction: row;
         justify-content: space-evenly;
      }
      &__social-link{
         padding-left: 18px;
      }
      &__menu{
         width: 90%;
         margin-right: 0;
      }
      &__menu-list{
         display: flex;
         justify-content: space-evenly;
      }
   }
}
@media (max-width: 640px) {  
   .menu{
      padding-right: 0;
      &__list-item:first-child{
         padding-right: 25px;
      }
   }
   .top{
      &__slide-img{
         width: 270px;
      }
      &__slide-title{
         font-size: 40px;
      }
      &__slide-hr{
         width: 65px;
         margin-left: 0;
      }
      &__slide-content{
         height: 210px;
         max-width: 240px;
      }
      &__slide-text{
         font-size: 13px;
         line-height: 21px;
      }     
   } 
   .new-collection{
      margin-top: 45px;
      &__text{
         width: 85%;
      }
   }  
   .collection{
      grid-column-gap: 15px;
   }
   .blog-page{
      margin-top: 35px;
      &__items{
         margin-top: 20px;
      }
   }
   .blog{
      &__popup{
         height: 295px;
      }
      &-1{
         height: 520px;
      }
      &-2{
         margin-top: 30px;
         height: 355px;
      }
      &-3{
         height: 487px;
         margin-top: 57px;
      }
   }
   .quote{
      margin-top: 70px;
      height: 203px;
      &__text{
      width: 440px;
      }
      &__hr{
         width: 160px;
         margin-top: 15px;
         margin-bottom: 15px;
      }
   }   
   .aside{
      height: auto;
      flex-direction: column;
      &__form{
         width: 100%;
      }
      &__show-button-box{
         display: block;
      }
      &__show-button{
         margin-bottom: 10px;
         margin-left: 5px;
         height: 40px;
         background-color: #363838;
         color: #fff;
         border-radius: 20px;
         border: none;
         padding: 3px 10px;
         font-size: 13px;
         line-height: 23px;
         height: 30px;
         cursor: pointer;
      }
      &__show-button_tags--active{
         background-color: #FFEF35;
      }
      &__show-button_recent--active{
         background-color: #FFEF35;
      }
      &__show-button_categories--active{
         background-color: #FFEF35;
      }
      &__categories{
         display: none;
         &--active{
            display: block;
         }
      }
      &__recent{
         display: none;
         &--active{
            display: block;
         }
      }
      &__tags{
         display: none;
         &--active{
            display: block;
         }
      }

   }


}
@media (max-width: 500px) {  
   .main{
      &_home{
         margin-bottom: 75px;
      }
      &_gallery{
         margin-bottom: 60px;
      }
      &_about{
         margin-bottom: 40px;
      }
      &_contact{
         margin-bottom: 55px;
      }   
   }   
   .header{
      &__inner{
         flex-wrap: wrap;
         padding-top: 20px;
         height: 70px;
      }
      &__btn-menu{
         order: -1;
         display: block;
         background-color: transparent;
         border: none;
         padding: 0;
         cursor: pointer;
         height: 20px;
         @include f (space-between, center);
         flex-direction: column;
         span{
            background-color: #000;
            height: 3px;
            width: 30px;
            border-radius: 1.5px;
            display: block;
         }
   
      }
   }
   .logo{
      order: -1;
   }
   .menu{
      font-size: 14px;
      border: $title 5px solid;
      padding-right: 5px;
      padding-left: 5px;
      width: 100%;
      z-index: 5;
      text-align: center;
      transform: translateY(-210px);
      transition: ease 0.5s;
      background-color: #fff;
      margin-left: 75%;
      margin-right: -15px;
      &--open{
         transition: ease 1s;
         transform: translateY(-50px);
      }
      &__list-item:first-child{
         padding-right: 0px;
      }

      &_border-bottom_none{
         border-bottom: none;
      }
      &_border-top_none{
         border-top: none;
      }
      &__list{
         display: block;
      }
      &__list-item{
         padding-right: 0;
   
      }
      &__list-link{
         display: block;
         padding: 7px 0;
      }
      &__list-link_active{
         border-bottom: none;
         opacity: 0.5;
      }
   }
   .top{
      &__slide-img{
         width: 250px;
      }
      &__slide{
         padding-bottom: 30px;
      }
      &__slide-title{
         font-size: 30px;
      }
      &__slide-hr{
         width: 45px;
         margin-left: 0;
      }
      &__slide-content{
         height: 160px;
         max-width: 170px;
         padding-right: 10px;
         padding-left: 5px;
      }
      &__slide-text{
         font-size: 10px;
         line-height: 16px;
      }   
   }   
   .new-collection{
      margin-top: 30px;
      &__title{
         font-size: 20px;
         line-height: 32px;
      }
      &__hr{
         margin-top: 10px;
         width: 110px;
      }
      &__text{
         font-size: 10px;
         line-height: 16px;
         margin-top: 10px;
         width: 95%;
      }
   }  
   .collection{
      grid-column-gap: 15px;
      margin-top: 10px;
      &__info-title{
         font-size: 14px;
      }
      &__info-text{
         display: none;
      }
      &__info-hr{
         display: none;
      }

   }
   .drinking{
      margin-top: 70px;
      &__container{
         padding-top: 72px;
         padding-bottom: 56px
      }
      &__info{
         height: 160px;
      }
      &__title{
         font-size: 25px;
         line-height: 40px;
      }
      &__hr{
         width: 120px;
      }
      &__text{
         font-size: 10px;
         line-height: 16px;
         width: 320px;
      }
   }
   .howItWorks{
      margin-top: 60px;
      &__title{
         font-size: 20px;
         line-height: 32px;      
      }
      &__content{
         height: 245px;
         margin-top: 40px
      
      }
      &__item-title{
         padding-left: 40px;
         font-size: 10px;
         line-height: 23px;
         
      }
      &__item-title_designerConsultation{
         &::before{
            transform: scale(0.75);
            left: -5px;
         }
      }
      &__item-title_production{
         &::before{
            transform: scale(0.75);
            left: -5px;
         }
      }
      &__item-title_measurements{
         &::before{
            transform: scale(0.75);
            left: -5px;
         }
      }
      &__item-text{
         font-size: 10px;
         line-height: 16px;
         margin-top: 10px;
      }
      &__item-text_1{
         width: 160px;
      }
      &__item-text_2{
         width: 120px;
      }
      &__item-text_3{
         width: 150px;
      }
   }
   .gallery{
      margin-top: 40px;
      &__items{
         row-gap: 10px;
         column-gap: 12px;
      }
      &__buttons{
         margin-bottom: 20px;
      }
      &__buttons-item{
         margin-right: 15px;
         font-size: 10px;
         line-height: 16px;
         height: 24px;
      }
      &__indent{
         height: 10px;
      }   
   }
   .blockIdeas{
      margin-top: 60px;
      &__title{
         font-size: 20px;
         line-height: 32px;
      }
      &__item{
         height: 290px;
      }         
      &__item-title{
         font-size: 16px;
         line-height: 24px;
      }
      &__links{
         font-size: 10px;
         line-height: 20px;
      }
      &__date{
         font-size: 10px;
         line-height: 20px;
      }
      &__author{
         font-size: 10px;
         line-height: 20px;
      }
      &__theme{
         font-size: 10px;
         line-height: 20px;
      }
   }
   .about{
      &__prev{
         height: 230px;
      }
      &__prev-title{
         font-size: 25px;
         line-height: 40px;
      }
   }   
   .about-text{
      margin-top: 70px;
      &__title{
         font-size: 20px;
         line-height: 32px;
      }
      &__hr{
         width: 130px;
         margin-top: 10px;
         margin-bottom: 10px;
      }
      &__text{
         font-size: 10px;
         line-height: 16px;
      }

      &__text:nth-child(1){
         margin-bottom: 10px;
      }
   }
   .popup-video{
      margin-top: 50px;
      height: 180px;
      &__button-img{
         height: 40px;
         width: 40px;
      }
   }  
   .inspiration{
      margin-top: 70px;
      height: 300px;
      &__content{
         padding-bottom: 35px;
      }
      &__about-text{
         margin-top: 0;
      }
   }
   .inspiration-charts{
      &__text-box{
         padding-bottom: 8px;
      }
      &__text{
         font-size: 10px;
         line-height: 14px;
      }
   }
   .partners{
      &__item-box{
         grid-column-gap: 15px;
      }
   }   
   .map{
      height: 270px;
   }
   .contact{
      margin-top: 35px;
      &__social{
         margin-top: 10px;
         margin-bottom: 10px;
      }
      &__text{
         margin-bottom: 10px;
      }
      &__address{
         margin-bottom: 10px;
         font-size: 10px;
         line-height: 12px;
      }   
      &__info-email{
         font-size: 12px;
      }   
      &__form{
         margin-top: 10px;
      }
      &__form-item:first-child{
         margin-right: 0px;
      }
      &__form-item{
         font-size: 10px;
         padding-left: 12px;
         height: 25px;
      }
      &__name{
         border-radius: 12.5px;
      }
      &__email{
         border-radius: 12.5px;
      }
      &__textarea{
         margin-top: 10px;
         width: 100%;
         border-radius: 18px;
         height: 95px;
      }   
      &__btn{
         margin-top: 10px;
      }
   
   }
   .contact-collection{
      margin-top: 40px;
      &__collection{
         padding-bottom: 40px;
      }
      &__collection.collection{
         grid-column-gap: 5px;   
      }
   }   
   .blog{
      max-width: 610px;
      &__caption{
         font-size: 10px;
         a {
            font-size: 10px;
            line-height: 18px;
         }
      } 
      &__title{
         font-size: 16px;
         line-height: 24px;
      }
      &__text{
         font-size: 10px;
         line-height: 16px;
      }
      &__popup{
         height: 190px;
      }
      &__play-img{
         height: 40px;
         width: 40px;
      }
      &-1{
         height: 400px;
      }
      &-2{
         margin-top: 20px;
         height: 260px;
      }
      &-3{
         height: 380px;
         margin-top: 37px;
      }
   }
   .quote{
      margin-top: 60px;
      height: 180px;
      &__text{
      font-size: 16px;
      line-height: 21px;
      width: 320px;
      }
      &__hr{
         width: 150px;
         margin-top: 13px;
         margin-bottom: 13px;
      }
      &__athor{
         font-size: 10px;
         line-height: 14px;
      }
   }   
   .pagination{
      margin-top: 30px;
   }   
   .footer{
      &__form-btn{
         width: 70px;
      }
      &__form-input {
         width: 180px;
     }
      &__inner{
         flex-direction: column;
         align-items: center;
         height: 335px;
      }
      &__info{
         width: 90%;
         align-items: center;
         gap: 10px;
      }
      &__info-text{
         width: 85%;
         text-align: center;
      }
      &__content{
         padding-bottom: 0;
         padding-top: 30px;
      }
      &__social{
         padding-left: 5px;
         padding-right: 5px;

         flex-wrap: wrap;
         width: 85%;
         flex-direction: row;
         justify-content: space-evenly;
      }
      &__menu{
         margin-top: 15px;
         width: 90%;
         margin-right: 0;
      }
      &__menu-list{
         display: flex;
         justify-content: space-evenly;
      }

   }
}
